<a href="https://colab.research.google.com/github/Nasita25/data_analytics/blob/main/Copy_of_Unit2_Loop_Assignment_3_Nasita_Maywalall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

By: Nasita Maywalall

# Introduction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
fruits=['strawberries', 'mango', 'banana', 'orange', 'kiwi']

## 2.	Print out those variables by using a for loop

In [ ]:
fruits=['strawberries', 'mango', 'banana', 'orange', 'kiwi']
for fruit in fruits:
      print(fruit)

strawberries
mango
banana
orange
kiwi

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
fruits=['strawberry', 'mango', 'banana', 'orange', 'kiwi']
for fruit in fruits:
      print('My favorite fruit is' + " " + fruit.upper() + "!")

My favorite fruit is STRAWBERRY!
My favorite fruit is MANGO!
My favorite fruit is BANANA!
My favorite fruit is ORANGE!
My favorite fruit is KIWI!

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
numbers=list(range(2,22,2))
for num in numbers:
    print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:

fruits=['strawberry', 'mango', 'banana', 'orange', 'kiwi']
for fruit in sorted(fruits):
  print(fruit)

banana
kiwi
mango
orange
strawberry

## 6.	Print out the first three elements of your list.

In [ ]:
fruits=['strawberry', 'mango', 'banana', 'orange', 'kiwi']
for fruit in fruits[:3]:
  print(fruit)

strawberry
mango
banana

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
fruits=['strawberry', 'mango', 'banana', 'orange', 'kiwi']
for fruit in fruits [3:5]:
    print(fruit)

orange
kiwi