<a href="https://colab.research.google.com/github/Nasita25/data_analytics/blob/main/TrackA/PYTHON/Copy_of_Unit2_Conditional_Operations_Assignment_Nasita_Maywalall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Conditional Operations Assignment #4

## If-elif-else Statements

## 1.	Make a list of 5 or more usernames, including an admin account.  Imagine you are writing code that will welcome people to your application on login. Loop through the list and print your greeting.

a.	If the admin account logs in, give them a special greeting.  They’re the admin, after all!

b.	Other users can get the generic greeting

In [ ]:
usernames=['Lucy25','Regina2','Philip54','DanielM','Admin']
message = ('Welcome back!')
for names in usernames:
  if names == "Admin":
    print('Thank you for logging in, Admin!')
  else:
    print(names.title()+ " " + 'welcome back!')

Lucy25 welcome back!
Regina2 welcome back!
Philip54 welcome back!
Danielm welcome back!
Thank you for logging in, Admin!

## 2.	Store numbers 1-10 in a list

a.	Loop through the list

b.	Use an if-elif-else chain inside your loop to print the ordinal ending for each number – for example – 1st, 2nd, 3rd … etc.

In [ ]:
for numbers in range (1,11):
  print(numbers)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numbers = list(range(1,11))
for num in numbers:
  if num ==1:
    print('1st')
  elif num ==2:
    print('2nd')
  elif num ==3:
    print('3rd')
  else:
    print(str(num)+"th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th